DATABASE/DB/DB-TOC-Cache.txt
DATABASE/DB/MenuCache.txt
DATABASE/DB/SEO-Cache.txt

sitemap.txt
sitemap.xml
sitemap.txt.time
sitemap.xml.time

*.bak
*.lock

DATABASE/lock/*
!DATABASE/lock/.gitkeep

DATABASE/comments/lock/*
!DATABASE/comments/lock/.gitkeep

DATABASE/comments/capt/*
!DATABASE/comments/capt/.gitkeep

DATABASE/VisitorsOnline/*
!DATABASE/VisitorsOnline/.gitkeep
