RewriteEngine On

# --- Разрешаем конкретный файл ---
RewriteCond %{REQUEST_URI} ^/DATABASE/DB/ryba\.jpg$
RewriteRule ^ - [L]

# --- Разрешаем подпапки внутри /DATABASE/ ---
RewriteCond %{REQUEST_URI} ^/DATABASE/gallery/ [OR]
RewriteCond %{REQUEST_URI} ^/DATABASE/fupload/
RewriteRule ^ - [L]

# --- Запрещаем всё остальное в /DATABASE/ ---
RewriteRule ^DATABASE/ - [F,L]

# --- Разрешаем /SYSTEM/JSLIB/ и всё её содержимое ---
RewriteRule ^SYSTEM/JSLIB/ - [L]

# --- Разрешаем конкретные файлы ---
RewriteRule ^SYSTEM/modules/sitemap\.css$ - [L]
RewriteRule ^SYSTEM/modules/captcha\.php$ - [L]
RewriteRule ^SYSTEM/modules/download\.php$ - [L]
RewriteRule ^SYSTEM/modules/my-ck-ed\.css$ - [L]

# --- Запрещаем всё остальное в /SYSTEM/ ---
RewriteRule ^SYSTEM/ - [F,L]

# --- Остальные блокировки ---
RewriteRule ^cgi-bin/ - [F,L]



<IfModule mod_headers.c>
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set Content-Security-Policy "frame-ancestors 'self';"

    Header always set Cross-Origin-Opener-Policy "same-origin"
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 2 weeks"

    ExpiresByType text/html "access plus 0 seconds"
</IfModule>
