/*
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*/


html, body {

    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100vh !important;
    overflow-x: visible;
}

html {

    font-size: 12pt;
    font-family: monospace;
}

.nobr {
    white-space: nowrap;
}

p {
    margin: .75rem 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {

    font-family: sans-serif;
    font-weight: 600;
    margin-top: 0;
    border-radius: 0 1.25rem;
    padding: .34rem;
    font-variant: small-caps;
    margin-bottom: .75rem;

    padding-left: 1rem;
    text-indent: .5rem;

    position: relative;
    clear: both;

}

:is(h2, h3, h4, h5, h6):has(+ :is(p, img, figure, aside)) {

    margin-bottom: 0;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.05rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.45rem;
}




hr {

    height: 0;
    background: none;
    border: none;
    border-top: .25rem dotted gray;
    padding: 0;
    margin: 0;
}

table, th, td {
    border: .15rem solid #999;
    border-collapse: collapse;
}

td, th {
    padding: .25rem;
}

th {
    font-weight: 600;
}




.big {
    font-size: xx-large;
}


#txtpath {

    display: block;
    margin-bottom: 3rem;
    /* vertical-align: .07rem; */
}

#txtpath * {

    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

#txtpath em {

    font-family: "Georgia", serif;
    font-style: italic;
    white-space: pre-wrap;
    display: inline-block;
    margin-right: .34rem;
    vertical-align: .07rem;
}

#txtpath em::before {

    content: '♦';
    display: inline-block;
    white-space: pre-wrap;
    font-style: normal;
    padding-right: .25rem;
    vertical-align: .07rem;
    color: #C00;
}

p {
    text-indent: .75rem;
}


img {

    float: right !important;
    clear: right;
    object-fit: contain;
    max-width: calc(50% - 1rem);
    height: auto !important;
    margin: .5rem;
    image-rendering: smooth;
}

p:has(img) {

    text-indent: 0;
}


pre {

    white-space: pre-wrap;
    overflow-x: visible;
    display:inline;
}

code {

    border: .1rem dashed #999;
}


.infobox {

    border: .34rem solid #CC6600;
    color: #CC6600;
    padding: .75rem;
    clear: both;
}


.ibox-red {

    border: .34rem solid #CC0000;
    color: #CC0000;
    padding: .75rem;
    clear: both;

}


.ibox-blue {

    border: .34rem solid #6666CC;
    color: #6666CC;
    padding: .75rem;
    clear: both;

}


.ibox-green {

    border: .34rem solid #228B22;
    color: #228B22;
    padding: .75rem;
    clear: both;

}



/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */

/*
pre[class^="language-"] {

    overflow-x: visible;
}

code[class^="language-"] {

    overflow-x: visible;
    border: none;
}

pre[class^="language-"] * {

    font-size: 1rem;
}
*/





pre:has(code[class^="language-"]) {

    width: 100%;
    display: block;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}

code[class^="language-"] {

    /* width: calc(100% - 2em);
    display: block; */
    border: none;
}

/*
code[class^="language-"] * {

    font-size: 1rem;
}
*/


/*
 * https://philarcher.org/diary/2013/headingnumbers/
 * CC BY
 *
 */

/*
body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2:before {counter-increment: h2; content: counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
*/



/*
h1::before {content: "1";}
h2::before {content: "2";}
h3::before {content: "3";}
h4::before {content: "4";}
h5::before {content: "5";}
h6::before {content: "6";}
*/

.hnum {

    text-indent: 0;
    font-family: monospace;
    position: absolute;
    color: #E40;
    font-size: 1.5rem;
    right: .5rem;
    bottom: 0;
}










.lightbox-overlay, .lightbox-overlay * {

    display: none !important;
}




article, main {

    padding: 0;
    margin: 0;
}




/*


ul {
    list-style-type: none;
}

ul li::before {
    font-size: inherit;
    content: ' ';
    display: inline-block;
    margin-right: .5em;
    width: .5em;
    height: .5em;
    background-color: #000;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    bottom: .25em;
}
*/



.vid-wrapper {
    position: relative;
    width: 100%;
    max-width: calc(100% - 1rem);
    aspect-ratio: 16 / 9;
    margin: .5rem;
}

.vid-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}








.spoiler-blk {
    /* width: calc(100% - 3.2rem); */
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: #f8f9fa;
    border: 2px solid #ccc;
    clear: both;
}

.spoiler-tgl {
    background-color: #393;
    color: white;
    border: none;
    padding: .75rem;
    font-size: 1rem;
    /* width: calc(100% - 3.2rem); */
    text-align: left;
}

.spoiler-tgl:hover {
    background-color: #00b356;
}









figure.my-blockquote {
    margin: 1.25em 0;
    padding: 1em 1.5em;
    border-left: 5px solid #4A90E2;
    background: #f9f9f9;
    font-style: italic;
    position: relative;
    color: #333;

    clear: both;
}

figure.my-blockquote blockquote {
    margin: 0;
    padding: 0;
    quotes: "“" "”" "‘" "’";
}

figure.my-blockquote blockquote::before {
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: #4A90E2;
    margin-right: 0.2em;
}

figure.my-blockquote blockquote::after {
    content: close-quote;
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: #4A90E2;
    margin-left: 0.1em;
}

figure.my-blockquote figcaption {
    margin-top: 0.5em;
    text-align: right;
    font-size: 0.95em;
    color: #666;
}







figure.fig-img {
    clear: right;
    display: table;
    margin: .66em;
    text-align: center;
    max-width: 47%;
    border: 1px solid #ccc;
    padding: 0.5em;
    background: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    float: right;
}

figure.fig-img img {
    float: none !important;
    max-width: 100% !important;
    height: auto;
    display: block;
    margin: 0 auto;
}

figure.fig-img figcaption {
    display: block;
    clear: both;
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #555;
    font-style: italic;
    line-height: 1.4;
}










* {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.infobox img, .ibox-blue img, .ibox-green img, .ibox-red img {

    float: left !important;
    clear: left !important;
}


.infobox, .ibox-blue, .ibox-green, .ibox-red {

    margin: 1.25rem 0;
}




.clearfix::after, main article section::after {
    content: "";
    display: table;
    clear: both;
}




main article *, #sitemenu a {

    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}