header {
  background-image: url('argyle.png');
  background-repeat: repeat;
  animation: scroll-bg 40s linear infinite;
}

@keyframes scroll-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1060px 960px;
  }
}




header strong::after {
  animation: blink 1.6s steps(2, start) infinite;
}

/* Анимация "мигания" */
@keyframes blink {
  to {
    visibility: hidden;
  }
}



header strong {

    box-shadow: 5px 5px 15px 5px #000000;
}












td.gallery-img::before, td.gallery-fill::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("sea.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.24;
    filter: contrast(72%);
    z-index: 0;
}

td.gallery-img > img, td.gallery-fill > span {
    position: relative;
    z-index: 1;
}








#obyava {

  background-color: #AAA;
  border: .5rem solid;
  border-color: #C4C4C4 #707070 #707070 #C4C4C4;
  padding: .5rem;
  max-height: 9rem;
  overflow-y: auto;
}

#obyavadiv {

  white-space: nowrap;
  text-align: right;;
}