/*
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*/



p {
    margin: 1.25rem 0;
    /* font-size: 1.3rem; */
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {

    font-family: serif;
    font-weight: 600;
    margin-top: 0;
    background-color: #AAA;
    color: #FFF;
    border-radius: 0 1.25rem;
    padding: .34rem;
    font-variant: small-caps;
    margin-bottom: 1rem;

    padding-left: 1rem;
    text-indent: .5rem;

    clear: both;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 2.05rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.45rem;
}

:is(h1, h2, h3, h4, h5, h6):has(+ p) {

    margin-bottom: 0;
}



hr {

    height: 0;
    background: none;
    border: none;
    border-top: .25rem dotted gray;
    padding: 0;
    margin: 0;
}

table, th, td {
    border: .15rem solid #999;
    border-collapse: collapse;
}

td, th {
    padding: .25rem;
}

th {
    font-weight: 600;
}




.big {
    font-size: xx-large;
}




img:not(.cke_reset, .cke_widget_mask) {

    float: right;
    clear: right;
    object-fit: contain;
    max-width: calc(50% - 1rem);
    height: auto !important;
    margin: .5rem;
    padding: 0;
    image-rendering: smooth;
}


pre {
    clear: both;
    overflow-x: auto;
}


code {

    border: .1rem dashed #999;
}


.infobox, .ibox-blue, .ibox-green, .ibox-red {

    margin: 1.25rem 0;
}


.infobox::after, .ibox-blue::after, .ibox-green::after, .ibox-red::after, .spoiler-blk::after, .my-quot::after {
    content: "";
    display: table;
    clear: both;
}


.infobox {

    background-color: #FF9900;
    border: .2rem solid #CC6600;
    color: #FFF;
    padding: .75rem;
    clear: both;
}


.ibox-red {

    background-color: #FF3300;
    border: .2rem solid #CC0000;
    padding: .75rem;
    color: #FFF;
    clear: both;

}


.ibox-red a {

    color: #FF3300;
    filter: invert(100%);
    background-color: rgba(0,0,0,0.42); /*
    padding: 2px;
    border-radius: 5px; */
    padding: .15rem;
    border-radius: .25rem;
}


.ibox-blue {

    background-color: #6699CC;
    border: .2rem solid #6666CC;
    padding: .75rem;
    color: #FFF;
    clear: both;

}

.ibox-blue a {

    color: #6699CC;
    filter: invert(100%);
    background-color: rgba(0,0,0,0.42); /*
    padding: 2px;
    border-radius: 5px; */
    padding: .15rem;
    border-radius: .25rem;
}


.ibox-green {

    background-color: #66CC00;
    border: .2rem solid #228B22;
    padding: .75rem;
    color: #FFF;
    clear: both;

}

.ibox-green a {

    color: #66CC00;
    filter: invert(100%);
    background-color: rgba(0,0,0,0.42); /*
    padding: 2px;
    border-radius: 5px; */
    padding: .15rem;
    border-radius: .25rem;
}



.spoiler-blk {
    padding: .5rem;
    border: .25rem dotted orange;
}



.my-quot {
    padding: .5rem;
    border: .34rem double green;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.my-quot-author {
    display: inline-block;
    padding: .5rem;
    border: .34rem double blue;
}



/*
pre:has(code[class^="language-"]) {

    overflow-x: auto;
    padding: 0;
    height: auto !important;

}

code[class^="language-"] {

    overflow-x: auto;
    border: none;
    height: auto !important;
}

code[class^="language-"] * {

    font-size: 1rem;
}
*/

/*
body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2:before {counter-increment: h2; content: counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
*/




h2::before {content:"2 "; color:red}
h3::before {content:"3 "; color:red}
h4::before {content:"4 "; color:red}
h5::before {content:"5 "; color:red}
h6::before {content:"6 "; color:red}



